{%extends 'base/base.html'%}

{%block title%}Seus Clientes{%endblock%}
{%block content%}

<section class="container my-5">
    <div class="list-group Content">
        {% for cliente in all_clientes %}
        <a href="{% url 'core:addvenda' %}" class="list-group-item list-group-item-action"
            aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{cliente.primeiro_nome}} {{cliente.segundo_nome}}</h5>
                <small>{{cliente.data_cadastro|date}}</small>
            </div>
            <p class="mb-1">CPF: {{cliente.email}} | E-mail: {{cliente.email}}</p>
            <small>{{cliente.id}}</small>
        </a>
        {% endfor %}
    </div>
</section>

<style>
    .Content {
        height: 224px;
        overflow: auto;
        background: #fff;
    }
</style>
{%endblock%}