{% extends 'base/base.html' %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Endereço</th>
            <th scope="col">Numero</th>
            <th scope="col">Bairro</th>
            <th scope="col">Complemento</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">CEP</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for campo in all_imoveis %}
        <tr>
            <td>{{campo.endereco}}</td>
            <td>{{campo.numero}}</td>
            <td>{{campo.bairro}}</td>
            <td>{{campo.complemento}}</td>
            <td>{{campo.cidade}}</td>
            <td>{{campo.estado}}</td>
            <td>{{campo.cep}}</td>
            <td>R$ {{campo.valor}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="{% url 'core:addvenda' campo.id %}">Vender</a></li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}