{% extends 'base/base.html' %}
{%block title%}Home{%endblock%}
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Endereço</th>
            <th scope="col">Numero</th>
            <th scope="col">Bairro</th>
            <th scope="col">Complemento</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">CEP</th>
            <th scope="col">Valor</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for campo in all_imoveis %}
        <tr>
            <td>{{campo.endereco}}</td>
            <td>{{campo.numero}}</td>
            <td>{{campo.bairro}}</td>
            <td>{{campo.complemento}}</td>
            <td>{{campo.cidade}}</td>
            <td>{{campo.estado}}</td>
            <td>{{campo.cep}}</td>
            <td>R$ {{campo.valor}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% csrf_token %}



<p id="mensagem"></p>
<button onclick="teste()">testar</button>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<script language="javascript">
    
</script>
{% endblock content %}