{%extends 'base/base.html'%}

{%block title%}Suas vendas{%endblock%}
{%block content%}

<div class="container">
  {% include 'base/msg_sucesso.html' %}
</div>


<div class="container my-2">
  <div class="header-btn">
    <a href="{{add_url}}" class="btn btn-success"><span>Novo Venda</span></a>
    <button class="btn btn-red btn-remove"></button>
  </div>
</div>


<section class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Contatos</th>
        <th scope="col">Telefone</th>
        <th scope="col">Data de cadastro</th>
        <th scope="col">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                filtros
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href=" ">Todas vendas</a></li>
                <li><a class="dropdown-item" href="">Vendas finalizadas</a></li>
              </ul>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in all_clientes %}
      <h1>{{x}}</h1>
      <tr>
        <td>{{cliente.cliente_cliente.primeiro_nome}} {{cliente.cliente_cliente.segundo_nome}}</td>
        <td>{{cliente.cliente_cliente.email}}</td>
        <td>{{cliente.cliente_cliente.telefone}}</td>
        <td>{{cliente.cliente_cliente.data_cadastro|date}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="{% url 'core:checkout' cliente.id %}">Editar</a></li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>


{%endblock%}